<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Picker</title>
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body>
    <section class="moviesContainer">
      <h3>IMAX Yongsan</h3>
      <select id="movieSelector">
        <option>loading</option>
      </select>
    </section>
    <section class="seatsContainer">  
      <div class="screen">
    </section>
    <section class="info">
      고른 좌석: <b class='seatsPicked'></b><br>
      결제 예상금액: 총 <b class='totalPrice'></b>원 
    </section>
    <script src="../static/js/index.js" type="module"></script>
  </body>
</html>
